[Unit]
Description=Keep Openconnect VPN Connection Alive. Follow the university policy and use at your own risk.
Documentation=https://github.com/tangbao/Openconnect-VPN-RPi-Gateway

[Install]
WantedBy=multi-user.target

[Service]
User=root
ExecStart=<WorkDir>/ping2live.sh
Restart=always

